.activities{

   .wrapper-section-title,
   .wrapper-section-subtitle{
      position: relative;
      z-index: 2;
   }
   
  
.activities__item{
   position: relative;

   &:not(:last-child){
      margin-bottom: 150px;

      @media (max-width: 1440px) {
         margin-bottom: 100px;
      }
   }
} 

.activities__row-card{
   display: grid;
   grid-template-columns: repeat(3,minmax(300px, 1fr));
   grid-auto-rows: 1fr;
   column-gap: 30px;
   justify-content: center;

   @media (max-width: 1024px) {
      display: none;
   }
}
}