.activities{

} 
   
.activities__item{
   &:not(:last-child){
      margin-bottom: 150px;
   }
} 

.activities__row-card{
   display: grid;
   grid-template-columns: repeat(3,460px);
   grid-auto-rows: 1fr;
   column-gap: 30px;
   justify-content: center;
} 
