.activities{

   .wrapper-section-title,
   .wrapper-section-subtitle{
      position: relative;
      z-index: 2;
   }
   
  
.activities__item{
   position: relative;

   &:not(:last-child){
      margin-bottom: 150px;
   }
} 

.activities__row-card{
   display: grid;
   grid-template-columns: repeat(3,360px);
   grid-auto-rows: 700px;
   column-gap: 30px;
   justify-content: center;
} 
}