.activities-slider{
   display: none;
   position: relative;

   @media (max-width: 1024px) {
      display: block;
      max-width: 90%;
      margin: 0 auto;
      border-radius: 32px;
      z-index: 2;
      
      .context-link{
         font-size: 20px;

         @media (max-width: 1024px) {
            margin-bottom: 50px;
         }

          @media (max-width: 425px) {
         font-size: 16px;
         }

      }
   }

   @media (max-width: 768px) {
      max-width: 100%;
      width: 100%;
   }

   .slick-dots{
      position: absolute;
      height: 25px;
      bottom: -5%;
      left: 50%;
      transform: translateX(-50%);
      display: flex; 
      column-gap: 20px;
   }

   .wrapper-arrows{
      position: relative;

      .slick-prev{
         left: 0;
      }

      .slick-next{
         right: 0;
      }

   }

   // cards
   .card-activities__content{
      // min-height: 300px;
      padding-bottom: 50px;
      border-radius: 32px;
   }

   .card-activities__item{
      // min-height: 300px;
   }
   
   .card-activities__description{
      margin-bottom: 20px;
   }

   .card-activities__number{
      font-size: 80px;
      margin-bottom: 50px;
   
      @media (max-width: 375px) {
         margin-bottom: 150px;
      }
   }
   
   .card-activities__title{
      font-size: 30px;
   
      @media (max-width: 425px) {
         font-size: 22px;
      }

      @media (max-width: 425px) {
      font-size: 20px;
      }
   }
   
   .card-activities__subtitle{
       @media (max-width: 425px) {
      font-size: 16px;
      }
   }

   .card-activities__circles{
      max-width: 400px;
      width: 100%;
   }
   
   .card-activities__fake-block{
      border-radius: 32px;
   }

   .overlay{
      display: none;
   }
}

