.author{
   width: 680px;
   z-index: 3;

   @media (max-width: 1440px) {
      width: 550px;
   }

   @media (max-width: 1024px) {
      text-align: center;
   }
}

.author__description {
   margin-bottom: 40px;
   font-size: 27px;
   line-height: 1.3;

   @media (max-width: 1024px) {
      font-size: 22px;
   }
}