.avatar{
   position: relative;
}

.avatar__photo{
   width: 630px;
   height: 650px;

   &--preview{
      filter: drop-shadow(0 0 10px rgba(99, 95, 95, 0.61));
   }
   
   @media (max-width: 1440px) {
      width: 400px;
      height: 450px;
   }

   @media (max-width: 768px) {
      width: 200px;
      height: 350px;
   }
}

.avatar__parallax-img{
   position: absolute;
   
}

.avatar__parallax-img--first{
      bottom: -30%;
      right: 0;
      z-index: 2;
      width: 300px;
      height: 600px;
      transform: rotate(30deg);
      filter: drop-shadow(0 0 10px rgb(180, 50, 50));
         
         @media (max-width: 1440px) {
            width: 200px;
            height: 350px;
            bottom: -15%;
            right: 0;
         }

         @media (max-width: 1024px) {
            width: 200px;
            height: 350px;
            bottom: -25%;
            right: 0;
         }

         @media (max-width: 768px) {
            width: 130px;
            height: 200px;
            right: -15%;
            bottom: -20%;
         }
}

.avatar__parallax-img--second{
         bottom: -25%;
         left: -10%;
         width: 400px;
         height: 700px;
         transform: rotate(-25deg);
         filter: drop-shadow(0 0 10px rgb(74, 133, 130));

            @media (max-width: 1440px) {
               width: 200px;
               height: 500px;
            }

            @media (max-width: 768px) {
               width: 100px;
               height: 300px;
               bottom: -20%;
            }
}