.contact-link{
   font-size: 18px;
   font-weight: 600;
   display: flex;
   align-items: center;
   background-size: cover;
   background-repeat: no-repeat;
   column-gap: 10px;
   
   &__holder-ico{
      display: inline-block;
      width: 40px;
      height: 40px;
      // background-color: blueviolet;
   }
}

