.map{
   position: relative;
   width: 651px;
   height: 536px;
   border-radius: 30px;
   overflow: hidden;

      @media (max-width: 1440px) {
         width: 550px;
         height: 400px;
      }
      
      @media (max-width: 768px) {
         max-width: 425px;
         max-height: 400px;
      }

      @media (max-width: 425px) {
         max-width: 300px;
      }

   iframe{
       position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
}