.wrapper-main-title {

}

.main-title {
   color: $colorMaitTitle;
   font-size: 74px;
   font-weight: 700;
   text-transform: capitalize;

      @media (max-width: 1440px) {
         font-size: 60px;
         line-height: 1.1em;
      }

      @media (max-width: 1024px) {
         font-size: 48px;
      }

      @media (max-width: 768px) {
         font-size: 30px;
      }
}

.wrapper-main-subtitle {
   margin-bottom: 30px;

      @media (max-width: 1440px) {
         margin-bottom: 10px;
      }
}

.main-subtitle {
   font-size: 74px;
   font-weight: 500;

   @media (max-width: 1440px) {
      font-size: 60px;
      line-height: 1.1em;
   }

   @media (max-width: 1024px) {
      font-size: 48px;
   }

   @media (max-width: 768px) {
      font-size: 36px;
   }
}

.wrapper-section-title{
   margin-bottom: 30px;

      @media (max-width: 1440px) {
         margin-bottom: 10px;
      }

      @media (max-width: 1024px) {
       
      }
}


.section-title{
   font-size: 57px;
   font-weight: 700;

   @media (max-width: 1440px) {
      font-size: 40px;
   }

   @media (max-width: 1024px) {
      font-size: 30px;
   }

}

.section-title__first-part{
   &--one{
      color: $colorPartTitleOne;
   }
   &--second{
      color: $colorPartTitleTwo;
   }
   &--tree{
      color: $colorPartTitleTree;
   }
}

.wrapper-section-subtitle{
   margin-bottom: 30px;
}

.section-subtitle{
   font-size: 37px;
   font-weight: 700;
   
   @media (max-width: 1024px) {
      font-size: 26px;
   }
}

.section-subtitle__first-part{
   &--one{
      color: $colorPartTitleOne;
   }
   &--second{
      color: $colorPartTitleTwo;
   }
   
}

.wrapper-block-title{
   margin-bottom: 60px;

   @media (max-width: 768px) {
      text-align: center;
   }
}

.block-title{
   font-size: 57px;
   font-weight: 700;

   @media (max-width: 1440px) {
      font-size: 36px;
      font-weight: 600;
   }

   @media (max-width: 1024px) {
      text-align: center;
   }

   @media (max-width: 768px) {
      font-size: 24px;
   }
}

.reviews,.contacts{
   
   .wrapper-block-title{
      max-width: 1160px;
      margin: 0 auto;

   }

}

.wrapper-context-title{
   margin-bottom: 30px;

      @media (max-width: 1199px) {
         margin-bottom: 16px;
      }

      @media (max-width: 768px) {
         margin-bottom: 8px;
      }
}

.context-title{
   font-size: 24px;
   font-weight: 700;

      @media (max-width: 1440px) {
         font-size: 18px;
         font-weight: 500;
      }
}