.wrapper-main-title {

}

.main-title {
   color: $colorMaitTitle;
   font-size: 74px;
   font-weight: 700;
   text-transform: capitalize;

      @media (max-width: 1440px) {
         font-size: 60px;
         line-height: 1.1em;
      }
}

.wrapper-main-subtitle {
   margin-bottom: 30px;

      @media (max-width: 1440px) {
         margin-bottom: 10px;
      }
}

.main-subtitle {
   font-size: 74px;
   font-weight: 500;

   @media (max-width: 1440px) {
      font-size: 60px;
      line-height: 1.1em;
   }
}

.wrapper-section-title{
   margin-bottom: 30px;
}


.section-title{
   font-size: 57px;
   font-weight: 700;
}

.section-title__first-part{
   &--one{
      color: $colorPartTitleOne;
   }
   &--second{
      color: $colorPartTitleTwo;
   }
   &--tree{
      color: $colorPartTitleTree;
   }
}

.wrapper-section-subtitle{
   margin-bottom: 30px;
}

.section-subtitle{
   font-size: 37px;
   font-weight: 700;
}

.section-subtitle__first-part{
   &--one{
      color: $colorPartTitleOne;
   }
   &--second{
      color: $colorPartTitleTwo;
   }
   
}

.wrapper-block-title{
   margin-bottom: 60px;
}

.block-title{
   font-size: 57px;
   font-weight: 700;
}

.reviews,.contacts{
   .wrapper-block-title{
      max-width: 1160px;
      margin: 0 auto;
   }
}

.wrapper-context-title{
   margin-bottom: 30px;
}

.context-title{
   font-size: 24px;
   font-weight: 700;
}