.activities 
   .wrapper-section-title 
      h4.section-title 
         span.section-title__first-part.section-title__first-part--tree Форматы 
         | Обучения
      .activities__item 
         .wrapper-section-small-title
            h6.section-small-title 
               span.section-small-title__first-part.section-small-title__first-part--one Offline 
               | in Tbilisi
      .activities__row-card 
         include ./card-activities.pug
         