include ../mixins/card-activities-slider-first.pug
.activities-slider 
   .activities-item 
      +cardFirstSlider('01','Разговорные клубы','Подходит всем, кому нужно разбить языковой барьер и разговориться','деление студентов по уровням (А1-А2, В1-С1)','мини-группы до 6 человек','преподаватель и готовая программа встречи','длительность: 1-1,5 часа в зависимости от уровня','https://t.me/Katyagerasimenko_eng')
   .activities-item 
      +cardFirstSlider('02','Групповые уроки','Идеально для равномерного и комплексного изучения языка','деление студентов по уровням (А1-А2, А2-В1)','уроки 2 раза в неделю на базе школы','регулярная проверка знаний и обратная связь от преподавателя','длительность занятия 1 час','https://t.me/Katyagerasimenko_eng')
   .activities-item 
      +cardFirstSlider('03',' Киновечера','Отличная возможность улучшить навыки понимания нативной речи, а также ощутимо расширить словарный запас','просмотр фильмов на большом экране на английском с английскими субтитрами','после встречи 30 минут speaking club по теме кино','присутствие преподавателя','готовая программа встречи на 2 часа','https://t.me/Katyagerasimenko_eng')

