include ../mixins/card-activities-second.pug
.activities-slider-second
   +cardSecond('01','Онлайн-курс А1-А2<br>(3 месяца)','Отличный старт для тех, чьи цели - это комфортно жить в новой стране или в будущем дойти до нужного уровня для поиска работы.','Курс построен на бытовых темах.','Курс имеет 3 тарифа.')
      include ../modules/arrows-slider.pug
   +cardSecond('02','Онлайн-курс А2-В1<br>(3 месяца)','Отлично подойдет тем, кто уже знает основы языка и готов улучшить навык говорения.','По итогу вы получите качественный разговорный уровень для жизни, а также сможете общаться с зарубежными коллегами намного комфортнее. ','Курс имеет 3 тарифа.')
      include ../modules/arrows-slider.pug

   +cardSecond('03','Онлайн-курс В1-В2<br>(3 месяца)','Идеальное решение для всех, кто уже обладает разговорным навыком и хочет уметь общаться на любые темы. ','Также подойдет тем, кто ищет новую работу, а в резюме нужно указать заветный В2. ','Курс имеет 3 тарифа.')
      include ../modules/arrows-slider.pug