.bunner 
   h4.bunner__title Запишись на первый бесплатный урок с учителем!
   .bunner__description 
      p Короткая Zoom встреча на 20-30 минут поможет точнее определиться с целями и форматом обучения, а преподаватель поставит уровень и даст индивидуальные рекомендации
      a.context-btn Записаться