.wrapper-bunner 
   .bunner
      p.bunner__title Запишись на первый бесплатный урок с учителем!
      .bunner__description 
         p Короткая Zoom встреча на 20-30 минут поможет точнее определиться с целями и форматом обучения, а преподаватель поставит уровень и даст индивидуальные рекомендации
      a.context-btn(href="https://t.me/Katyagerasimenko_eng")  Записаться
      
      .bunner__circles 
         .bunner__circles-item.bunner__circles-item--big
            img(src="./img/bunner/circle-big.svg", alt="circle")
   
         .bunner__circles-item.bunner__circles-item--medium
            img(src="./img/bunner/circle-medium.svg", alt="circle")
   
         .bunner__circles-item.bunner__circles-item--small
            img(src="./img/bunner/circle-small.svg", alt="circle")

   .bunner__icon.bunner__icon--first
      img(src="./img/icons/books.svg", alt="books")
   .bunner__icon.bunner__icon--second
      img(src="./img/icons/hat.svg", alt="hat")
   .bunner__icon.bunner__icon--last
      img(src="./img/icons/lamp.svg", alt="lamp")    