.reviews-slider
   .slider-item
      .slider-item__avatar
         .slider-item__img
            img(src="./img/main-page/rewiev/rewiev-one.jpeg", alt="")
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, accusantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat earum, neque consequuntur exercitationem ullam deleniti excepturi fuga
      
   .slider-item
      .slider-item__avatar
         .slider-item__img
            img(src="./img/main-page/rewiev/rewiev-two.jpg", alt="")
      .slider-item__description 
         p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, accusantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat earum, neque consequuntur exercitationem ullam deleniti excepturi fuga
      
   .slider-item
      .slider-item__avatar
         .slider-item__img
            img(src="./img/main-page/rewiev/rewiev-three.jpg", alt="")
      .slider-item__description 
         p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, accusantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat earum, neque consequuntur exercitationem ullam deleniti excepturi fuga
      
   .slider-item
      .slider-item__avatar
         .slider-item__img
            img(src="./img/main-page/rewiev/rewiev-four.jpeg", alt="")
      .slider-item__description 
         p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, accusantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat earum, neque consequuntur exercitationem ullam deleniti excepturi fuga
      
   .slider-item
      .slider-item__avatar
         .slider-item__img
            img(src="./img/main-page/rewiev/rewiev-five.jpg", alt="")
      .slider-item__description 
         p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, accusantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat earum, neque consequuntur exercitationem ullam deleniti excepturi fuga
      
   .slider-item
      .slider-item__avatar
         .slider-item__img
            img(src="./img/main-page/rewiev/rewiev-six.jpg", alt="")
      .slider-item__description 
         p Всем привет! Меня зовут Эльдар. Я уже три месяца хожу на разговорные клубы. Для меня это очень полезное и интересное занятие. Чувствую, что мой английский сильно улучшился за это время. Всем рекомендую


   