.reviews-slider
   .slider-item
      .slider-item__avatar
         .slider-item__img
            img(src="./img/bunner/cat.jpg", alt="")
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, accusantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat earum, neque consequuntur exercitationem ullam deleniti excepturi fuga
      
   .slider-item
      .slider-item__avatar
         .slider-item__img
            img(src="./img/bunner/cat.jpg", alt="")
      .slider-item__description 
         p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, accusantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat earum, neque consequuntur exercitationem ullam deleniti excepturi fuga
      
   .slider-item
      .slider-item__avatar
         .slider-item__img
            img(src="./img/bunner/cat.jpg", alt="")
      .slider-item__description 
         p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, accusantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat earum, neque consequuntur exercitationem ullam deleniti excepturi fuga
      
   .slider-item
      .slider-item__avatar
         .slider-item__img
            img(src="./img/bunner/cat.jpg", alt="")
      .slider-item__description 
         p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, accusantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat earum, neque consequuntur exercitationem ullam deleniti excepturi fuga
      
   .slider-item
      .slider-item__avatar
         .slider-item__img
            img(src="./img/bunner/cat.jpg", alt="")
      .slider-item__description 
         p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, accusantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat earum, neque consequuntur exercitationem ullam deleniti excepturi fuga
      
   .slider-item
      .slider-item__avatar
         .slider-item__img
            img(src="./img/bunner/cat.jpg", alt="")
      .slider-item__description 
         p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, accusantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat earum, neque consequuntur exercitationem ullam deleniti excepturi fuga


   