section.about-us 
   .container 
      .about-us__content 

         .about-us__item#mission

            .avatar
               .avatar__photo
                  img(src="./img/main-page/preview/teacher-first.png", alt="avatar")
            .about-us__info#values

               .wrapper-section-title 
                  p.section-title 
                     span.section-title__first-part.section-title__first-part--one Цели 
                     | & Ценности

               .about-us__description
                  
                  p Главная миссия школы - это обеспечить ученикам комфорт во время обучения. У нас можно не бояться делать ошибки или задавать вопросы.

                  p Опытные учителя и супер-дружелюбное комьюнити студентов помогают поддерживать мотивацию и добиваться целей в обучении. А большой выбор форматов поможет каждому ученику найти идеальное решение лично для себя
                     
               a.context-link(href="https://www.instagram.com/invites/contact/?i=1jv57ymn97k55&utm_content=pwd9572" target='blank') Смотреть больше

         .about-us__item#advantages
            .avatar
               .avatar__photo
                  img(src="./img/main-page/preview/teacher-second.png", alt="avatar")
            .about-us__info#headTeacher

               .wrapper-section-title 
                  p.section-title 
                     span.section-title__first-part.section-title__first-part--second Основатель 
                        br
                     | & Head Teacher

               .about-us__description
                  p Меня зовут Катя

                  p Я имею высшее классическое образование, а также британский педагогический диплом 
                  
                     a.context-link(href="/img/docs/diplom.png" data-fancybox data-src="/img/docs/diplom.png") TEFL&nbsp;TESOL

                     |с отличной защитой дипломного проекта
                  
                  p В 2022 году приехала в Грузию и начала вести разговорные клубы. Так встречи раз в неделю на территории местных арт-пространств переросли в отдельную школу, а к разговорным клубам добавились групповые уроки и онлайн-курсы. 
                  
                  p Сегодня Welcome English - это быстрорастущий проект для взрослых, где мы разбиваем языковой барьер и избавляемся от стереотипов и страхов об изучении английского языка.

                  .parallax-emodzi.parallax-emodzi--about-us-third
                   
                  .parallax-emodzi.parallax-emodzi--fabout-us-fourth
