section.contacts 
   .container 
      .contacts__content
         .wrapper-block-title 
            h3.block-title Контакты
         .contacts__info
            .contacts__first-row
               .contacts__adress 
                  .wrapper-context-title 
                     h6.context-title Адрес:
                  p Lorem ipsum dolor sit amet consectetur adipisicing eli   Sequi    recusandae sapiente ab 
                  p quaerat perspiciatis minus at est harum qui totam, repell   cum    veniam, veritatis, vel dolor unde nobis modi et.
               .contacts__network-links
                  .wrapper-context-title 
                     h6.context-title Соцсети:
                  a.contact-link(href="https://t.me/welcome_english_school" target='blank')
                     span.contact-link__holder-text
                     span.contact-link__holder-ico 


            .contacts__second-row
               .map
                  <iframe width='100%' height='100%'  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2977.825642289995!2d44.74161041744383!3d41.724281100000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4044731a7e8fb739%3A0x148b389c0bfa08fd!2s47%20Alexander%20Kazbegi%20Ave%2C%20T&#39;bilisi!5e0!3m2!1sru!2sge!4v1688142229516!5m2!1sru!2sge" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
               
               
               


            