.footer
   .container 
      .footer__content 
         .footer__links 
            a.logo(href='index.html')
               img(src="./img/icons/main-logo.svg", alt="logo")
               a(href="https://www.instagram.com/invites/contact/?i=1jv57ymn97k55&utm_content=pwd9572") 
                  span.contact-link__holder-ico
                     img(src="./img/icons/insta.svg", alt="insta")
               a(href="https://t.me/welcome_english_school") 
                  span.contact-link__holder-ico
                     img(src="./img/icons/telegram.svg", alt="telegram")