.footer
   .container 
      .footer__content 
         .wrapper-social-links 
            a.logo(href='index.html')
               img(src="./img/icons/main-logo.svg", alt="logo")
               a(href="https://www.instagram.com/invites/contact/?i=1jv57ymn97k55&utm_content=pwd9572") 
                  span.contact-link__holder-ico
                     img(src="./img/icons/insta.svg", alt="insta")
               a(href="https://t.me/welcome_english_school") 
                  span.contact-link__holder-ico
                     img(src="./img/icons/telegram.svg", alt="telegram")
         .footer__copyright
               p Copyright © 2023 Welcome English. Все права защищены.
               p Design by
                  a(href="https://www.behance.net/sheker16932a41sheker/projects" target='blank')  Sheker Alibekova