header.header
   .container 
      .header__content 

         a.logo(href='index.html')

            img(src="./img/icons/main-logo.svg", alt="logo")

         nav.header__menu 

            ul.header__menu-list 
               li 
                  a(href="#!") Наша миссия
               li 
                  a(href="#!") Преимущества
               li 
                  a(href="#!") Формат обучения
               li 
                  a(href="#!") Отзывы 
               li 
                  a(href="#!") Контакты

         a.contact-link(href="https://t.me/welcome_english_school" target='blank')
            span.contact-link__holder-text Telegram 
            span.contact-link__holder-ico
               img(src="./img/icons/telegram.svg", alt="telegram")

         
            