section.preview 
   .container 
      .preview__content 
         .author 
            .wrapper-main-title 
               h1.main-title welcome english
            .wrapper-main-subtitle 
               h2.main-subtitle school 
            .author__description 
               p Английский, на котором говорят
            a.context-btn(href="https://t.me/Katyagerasimenko_eng" target='blank') Узнать больше
         .avatar 
            .avatar__photo.avatar__photo--preview
               img(src="./img/main-page/preview/avatar.png", alt="photo")
            
