section.products
   .container 
      .products__content 
         include ../modules/bunner.pug
         include ../modules/activities.pug
         
        
               
               
         
            