section.products
   .container 
      include ../modules/bunner.pug
      .products__content
         include ../modules/activities.pug
         
        
               
               
         
            