.about-us{
   padding-top: 300px;
   padding-bottom: 200px;

   @media (max-width: 1440px) {
      padding-top: 100px;
      padding-bottom: 100px;
   }
}

.about-us__content{
   
}

.about-us__item{
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 60px;

   &:nth-child(even){
      flex-direction: row-reverse;
   }

   &:not(:last-child){
      margin-bottom: 350px;

      @media (max-width: 1440px) {
         margin-bottom: 150px;
      }
   }
}

.about-us__info{
   max-width: 601px;
   position: relative;

   @media (max-width: 1440px) {
      // width: 400px;
   }
}


.about-us__description{
   color: #393939;
   font-size: 18px;
   line-height: 1.44;
   margin-bottom: 30px;

   p:not(:last-child){
      margin-bottom: 15px;
   }
}

