.contacts{
   padding-top: 200px;
   padding-bottom: 200px;
   
   &__content{
      max-width: 1160px;
      margin: 0 auto;
   }
   
   .wrapper-block-title{
      margin-bottom: 50px;
   }
   
   .contacts__info{
      display: flex;
      column-gap: 111px;
      align-items: center;
      position: relative;
   }

   .contacts__first-row{
      max-width: 400px;
   }

   &__adress{
      font-size: 18px;
      font-weight: 300;
      line-height: 26px;
      margin-bottom: 40px;

      p:not(:last-child){
      margin-bottom: 20px;
      }
   }

}