.header{
   padding-top: 10px;
   padding-bottom: 10px;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   width: 100%;
   box-shadow: 4px 0px 6px 6px rgba(255, 255, 255, 0.7);
   background-color: rgba(255, 255, 255, 0.7);
   backdrop-filter: blur(5px);
   overflow: visible;
}

.header__desctop{
   @media (max-width: 1024px) {
      display: none;
   }
}

.header__content{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header__menu{
   position: relative;
}

.header__menu-list{
   display: flex;
   column-gap: 60px;
   font-size: 18px;
   font-weight: 500;

   &>li{
      position: relative;
      transition: transform 0.5s;
   }

      @media (max-width: 1440px) {
         column-gap: 40px;
         font-size: 16px;
      }
}

.header__drop-menu::before{
   content: '';
   position: absolute;
   top: 6px;
   right: -15px;
   display: inline-block;
   width: 10px;
   height: 10px;
   background-image: url('./../img/icons/drop-menu-arrow.svg');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   transition: transform 0.5s;

      @media (max-width: 1440px) {
      width: 8px;
      height: 8px;
      }
}

.header__drop-menu{
   cursor: pointer;
}

.header__drop-menu{

   a{
      display: block;
   }

   li{
      position: absolute;
      left: -5px;
      top: 0;
      padding: 4px;
      width: 200px;
      box-shadow: 0px 0px 6px 6px rgb(255, 255, 255);
      background-color: rgb(255, 255, 255);
      backdrop-filter: blur(5px);
      visibility: hidden;
      opacity: 0;
     
      &:first-child {
      transition: top 0.5s 0.4s, visibility 0.5s 0.4s, opacity 0.5s 0.4s;
      }
   
      &:nth-child(2) {
      transition: top 0.5s 0.2s, visibility 0.5s 0.2s, opacity 0.5s 0.2s;
      }
   
      &:nth-child(3) {
      transition: top 0.5s, visibility 0.5s, opacity 0.5s;
      }
   }

   @media (max-width: 1024px) {
    text-align: center;
    li{
      left: -20px;
    }
   }
}

.header__drop-menu.active{
   li{
      visibility: visible;
      opacity: 1;
   }
   
   li:first-child{
      top: 50px;
      transition: visibility 0.5s, opacity 0.5s, top 0.5s;
   }

   li:nth-child(2){
      top: 90px;
      transition: visibility 0.5s 0.2s, opacity 0.5s 0.2s, top 0.5s 0.2s;
   }

   li:nth-child(3){
      top: 130px;
      transition: visibility 0.5s 0.4s, opacity 0.5s 0.4s, top 0.5s 0.4s;
   }

   &:before{
      transform: rotate(-180deg);
   }

   @media (max-width: 1024px) {

   li:first-child{
      top: 30px;
      transition: visibility 0.5s, opacity 0.5s, top 0.5s;
   }

   li:nth-child(2){
      top: 60px;
      transition: visibility 0.5s 0.2s, opacity 0.5s 0.2s, top 0.5s 0.2s;
   }

   li:nth-child(3){
      top: 90px;
      transition: visibility 0.5s 0.4s, opacity 0.5s 0.4s, top 0.5s 0.4s;
   }

   &+li,&+li+li{
      transform: translateY(85px);
   }

   }
}

.header__mobile{
   display: none;
   
      @media (max-width: 1024px) {
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding-left: 15px;
         padding-right: 15px;
      }
}

.header__mobile .header__menu{
   position: fixed;
   top: 0;
   left: 0;
   transform: translate(-100%, -100%);
   background-color: rgba(255, 255, 255, 0.9);
   width: 100%;
   height: 100vh;
   border-radius: 0 0 30px 0;
   transition: transform 0.5s, border-radius 0.9s;
   z-index: 2;

   .header__menu-list{
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 20px;
   }
}

.header__mobile .header__menu.active{
   border-radius: 0;
   transform: translate(0,0);
   transition: transform 0.5s 0.2s, border-radius 0.9s;
}

