.preview{
   padding-top: 300px;
   padding-bottom: 60px;
   background: -webkit-linear-gradient(107deg, #ffffff,#88addd,#ac9ce8);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(107deg, #ffffff,#88addd,#ac9ce8);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                                    
   
   border-radius: 0% 0% 50% 50% / 0% 0% 20% 20%;


}

.preview__content{
   display: flex;
   column-gap: 60px;
   align-items: center;
   justify-content: center;

   &>*{
      flex-shrink: 0;
   }
}