.products{
   padding-top: 200px;
   padding-bottom: 200px;
   background: -webkit-linear-gradient(107deg, #ffffff,#88addd,#ac9ce8);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(107deg, #ffffff,#88addd,#ac9ce8);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                                                          border-radius: 50% 50% 50% 50% / 5% 5% 5% 5%;

   @media (max-width: 1440px) {
      border-radius: 50% 50% 50% 50% / 1% 1% 1% 1%;
      padding-top: 100px;
      padding-bottom: 100px;
   }

}

.products__content{
   max-width: 1160px;
   margin: 0 auto;
}