extends ./layouts/main.pug

block vars
   - var title = 'Welcome English школа английского языка в Тбилиси'


block content
   include ./sections/preview.pug
   include ./sections/about-us.pug
   include ./sections/products.pug
   include ./sections/reviews.pug
   include ./sections/contacts.pug