extends ./layouts/main.pug

block vars
   - var title = 'Welcom English | School'

block content
   include ./sections/preview.pug
   include ./sections/about-us.pug
   include ./sections/products.pug