block vars

doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet", href="./css/style.min.css")
      title #{title}
   body 
      include ../sections/header.pug

      block content
      
      script(src="https://code.jquery.com/jquery-3.7.0.min.js")
      script(src="./js/libs/slick.min.js")
      script(src="./js/main.js") 


      include ../sections/footer.pug
