block vars

doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet", href="./css/style.min.css")
      title #{title}
      <meta name="description" content="Изучайте английский язык в Тбилиси вместе с нашей школой! Предлагаем уроки английского в группах разных уровней, захватывающие киновечера, интерактивные разговорные клубы и удобные онлайн курсы для разных уровней. Присоединяйтесь к нам и достигайте новых высот в изучении английского с опытными преподавателями и дружественной атмосферой. Запишитесь прямо сейчас!">
      <meta name="keywords" content="школа английского языка, Тбилиси, уроки английского, групповые уроки, киновечера, разговорные клубы, онлайн курсы, разные уровни, преподаватели английского, изучение английского, английский для начинающих, продвинутый английский, изучение английского языка онлайн, курсы английского в Тбилиси.">
      <meta property="og:title" content="Welcome English"/>
      <meta property="og:description" content="Изучайте английский язык в Тбилиси вместе с нашей школой! Предлагаем уроки английского в группах разных уровней, захватывающие киновечера, интерактивные разговорные клубы и удобные онлайн курсы для разных уровней. Присоединяйтесь к нам и достигайте новых высот в изучении английского с опытными преподавателями и дружественной атмосферой. Запишитесь прямо сейчас!"/>
      <meta name="keywords" content="школа английского языка, Тбилиси, уроки английского, групповые уроки, киновечера, разговорные клубы, онлайн курсы, разные уровни, преподаватели английского, изучение английского, английский для начинающих, продвинутый английский, изучение английского языка онлайн, курсы английского в Тбилиси.">
      <meta property="og:image" content="./img/icons/opengraph-logo.svg"/>
      <meta property="og:type" content="site"/>
      <meta property="og:locale" content="ru_RU" />
      link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css")
      link(rel="shortcut icon", href="./img/favicon/favicon.ico", type="image/x-icon")
      
   body 
      include ../sections/header.pug

      block content
      
      include ../sections/footer.pug
      script(src="https://code.jquery.com/jquery-3.7.0.min.js")
      script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
      script(src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/gsap.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js")  
      script(src="./js/libs/slick.min.js")
      script(src="./js/main.js") 


