$colorText: #393939;
$colorTextCard:#6E6E6E;
$colorSubtitleCard:#5A5959;
$colorLinkCard:#F7B40E;
$colorContextLink:#00BDED;
$colorTextSlider:#fff;
$colorPartTitleTree: #fff;
$colorPartTitleOne: #00BDED;
$colorPartTitleTwo: #FF577F;
$colorMaitTitle:#fff;
$backgroundContextBtn: #fff;
